.noScrollbar ::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 900px) {
    .wordBreak :global(.markdown-body code) {
        white-space: pre-wrap;
        word-break: break-all;
        overflow: hidden;
    }
}

.onHover:hover {
    background-color: rgba(128, 128, 128, .08);
}

.borderBottom  {
    border-bottom: 1px solid rgba(81, 81, 81, 1);
}