{
  "presets": [
    ["@babel/preset-env", {
	  "corejs": "2",
      "useBuiltIns": "usage",
      "modules": false,
      "targets": {
        "browsers": "last 2 versions"
      }
    }],
	["@babel/preset-react", {
	  "runtime": "automatic"
	}]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {"helpers": false}]
  ]
}

